---
openapi: 3.1.0
info:
  title: Lithos API
  version: 1.0.0
  summary: Async telehealth platform API for customer integrations
  description: |-
    All examples use realistic sandbox values. See the
    [Quick Start](#tag/quick-start) for a five-minute walkthrough
    and the [Authentication](#tag/Authentication) page for the
    full credential flow.
  contact:
    name: Lithos API support
    email: support@lithoshealth.com
servers:
- url: https://api.sandbox.lithoshealth.com
  description: Sandbox — safe for testing, never reaches a real patient or pharmacy.
security:
- oauth2: []
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'Client-credentials grant. Exchange your `client_id` / `client_secret`
        at `/v1/oauth2/token` for a JWT, then send it as `Authorization: Bearer <jwt>`
        on every request.'
      flows:
        clientCredentials:
          tokenUrl: https://api.sandbox.lithoshealth.com/v1/oauth2/token
          scopes: {}
  schemas:
    Error:
      type: object
      required:
      - code
      - message
      description: A single error entry. `code` is the stable, dotted, lower-snake-case
        identifier partners match on; `message` is human-readable and may change;
        `source` points at the offending part of the request; `meta` carries structured
        context.
      properties:
        code:
          type: string
          description: Stable, dotted, lower-snake-case error code. The contract.
          example: patient.consent_required
        message:
          type: string
          description: Human-readable explanation. Informational — never branch on
            it.
          example: Field `telehealth_consented_at` is required to create a patient.
        source:
          type: object
          description: Identifies the part of the request that caused the error. At
            most one of `pointer`, `parameter`, `header` is set.
          properties:
            pointer:
              type: string
              description: RFC 6901 JSON Pointer to the offending field in the request
                body.
              example: "/telehealth_consented_at"
            parameter:
              type: string
              description: Name of the query parameter that caused the error, as you
                wrote it (`limit`, `created_at[gte]`). A query parameter the endpoint
                doesn't list returns `422 validation.failed` naming it here.
              example: limit
            header:
              type: string
              description: Name of the request header that caused the error.
              example: Authorization
        meta:
          type: object
          description: Structured context the partner can act on (conflicting resource
            IDs, the request_id, retry hints).
          additionalProperties: true
    ErrorResponse:
      type: object
      required:
      - errors
      description: Every 4xx and 5xx response from the Lithos API uses this envelope,
        except a `400` or `401` from `POST /v1/oauth2/token`, which returns a standard
        OAuth 2.0 error (`error`, `error_description`). Validation failures emit one
        entry per failing field.
      properties:
        errors:
          type: array
          minItems: 1
          items:
            "$ref": "#/components/schemas/Error"
    Pagination:
      type: object
      required:
      - next_cursor
      - has_more
      properties:
        next_cursor:
          type:
          - string
          - 'null'
          description: Opaque cursor for the next page; `null` when `has_more` is
            `false`.
          example: eyJpZCI6ImVuY190ZXN0XzAxSFhFTjFBMkIzQzRENUU2RjdHOEg5SktNIn0
        has_more:
          type: boolean
          description: True if more pages exist.
          example: true
    Address:
      type: object
      required:
      - line1
      - city
      - state
      - postal_code
      properties:
        line1:
          type: string
          description: Street address line 1.
          example: 1242 Market St
        line2:
          type:
          - string
          - 'null'
          description: Apartment, suite, or unit. Send `null` if none.
          example: Apt 5B
        city:
          type: string
          example: San Francisco
        state:
          type: string
          description: Two-letter US state code, such as `CA`. Lowercase is uppercased
            for you. Lithos checks the shape only, so a code that isn't a real state
            is stored as sent.
          pattern: "^[A-Z]{2}$"
          example: CA
        postal_code:
          type: string
          description: US ZIP or ZIP+4.
          pattern: "^[0-9]{5}(-[0-9]{4})?$"
          example: '94103'
    Clinician:
      type: object
      required:
      - id
      - npi
      - credentials
      - first_name
      - last_name
      - profile_picture_url
      description: A licensed clinician on the Lithos network. Embedded on resources
        where clinician identity is part of the record.
      properties:
        id:
          type: string
          description: Lithos clinician identifier. Sandbox IDs include `_test_`.
          pattern: "^clin_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: clin_test_01HXCN1A2B3C4D5E6F7G8H9JKM
        npi:
          type:
          - string
          - 'null'
          description: 10-digit National Provider Identifier issued by CMS. Null until
            the clinician's NPI has been recorded.
          pattern: "^[0-9]{10}$"
          example: '1234567890'
        credentials:
          type:
          - string
          - 'null'
          description: Post-nominal credential abbreviation (e.g. `MD`, `DO`, `NP`,
            `PA`). Null until the clinician's credentials have been recorded.
          example: MD
        first_name:
          type: string
          example: Maya
        last_name:
          type: string
          example: Patel
        profile_picture_url:
          type:
          - string
          - 'null'
          description: The clinician's profile picture URL.
          example: https://workoscdn.com/images/v1/abc123
    ClinicianSummary:
      type: object
      required:
      - first_name
      - last_name
      - profile_picture_url
      description: 'Who the patient is about to meet: enough to recognise the person
        on the call, and no more. Embedded where a visit names the clinician it is
        with — from the hold onward — as opposed to `Clinician`, which is the clinical
        identity on a record the clinician has signed.'
      properties:
        first_name:
          type: string
          example: Maya
        last_name:
          type: string
          example: Patel
        profile_picture_url:
          type:
          - string
          - 'null'
          description: The clinician's profile picture URL. Null when they have none.
          example: https://workoscdn.com/images/v1/abc123
    PatientTimeZone:
      type: string
      enum:
      - America/Adak
      - America/Anchorage
      - America/Boise
      - America/Chicago
      - America/Denver
      - America/Detroit
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Los_Angeles
      - America/Menominee
      - America/Metlakatla
      - America/New_York
      - America/Nome
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Phoenix
      - America/Puerto_Rico
      - America/Sitka
      - America/St_Thomas
      - America/Yakutat
      - Pacific/Chuuk
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pohnpei
      - Pacific/Saipan
      - Pacific/Wake
      description: 'A time zone US ZIP codes serve, as an IANA name: the states, Puerto
        Rico, the US Virgin Islands, the Pacific territories and the freely associated
        states. Lithos may add zones to this list, so treat a value you don''t recognize
        as a plain IANA name.'
      example: America/Chicago
    PatientCreate:
      type: object
      required:
      - first_name
      - last_name
      - date_of_birth
      - sex
      - address
      - email
      - phone
      - telehealth_consented_at
      - identity_verified_at
      - enrolled_in_government_insurance
      additionalProperties: false
      properties:
        external_id:
          type: string
          description: Your own immutable identifier for this patient, unique within
            your organization. Optional. An empty string counts as no identifier and
            is stored as `null`.
          maxLength: 255
          example: user_2718281828
        first_name:
          type: string
          example: Avery
        last_name:
          type: string
          example: Chen
        date_of_birth:
          type: string
          format: date
          description: Calendar date. As `YYYY-MM-DD`. A day that does not exist returns
            422 `validation.failed`.
          example: '1989-04-12'
        sex:
          type: string
          description: Patient's sex assigned at birth.
          enum:
          - female
          - male
          example: female
        address:
          "$ref": "#/components/schemas/Address"
        email:
          type: string
          format: email
          description: Unique within your organization, ignoring case. An email that
            belongs to another of your patients returns `422 validation.failed` at
            `/email`.
          example: avery.chen@example.com
        phone:
          type: string
          description: E.164 phone number with leading `+` and country code.
          pattern: "^\\+[1-9][0-9]{7,14}$"
          example: "+14155550143"
        telehealth_consented_at:
          type: string
          format: date-time
          description: When the patient affirmed telehealth consent. ISO 8601 date-time
            with `Z` or an offset, for example `2026-09-22T14:30:00Z`.
          example: '2026-04-29T17:42:00Z'
        identity_verified_at:
          type: string
          format: date-time
          description: When you verified the patient's identity at intake. ISO 8601
            date-time with `Z` or an offset, for example `2026-09-22T14:30:00Z`.
          example: '2026-04-29T17:42:00Z'
        enrolled_in_government_insurance:
          type: boolean
          description: Whether the patient attested to being enrolled in government
            insurance (Medicaid / Medicare / Tricare).
          example: false
        time_zone:
          oneOf:
          - "$ref": "#/components/schemas/PatientTimeZone"
          - type: 'null'
          description: The patient's US time zone, as an IANA name. Optional. Leave
            it out or send `null` and Lithos looks it up from `address.postal_code`,
            and again whenever the address changes. A zone you send stays through
            address changes. A name not in `PatientTimeZone` returns `422 validation.failed`.
    PatientUpdate:
      type: object
      description: 'Partial update. Send only the fields you want to change. `external_id`,
        `identity_verified_at` and `enrolled_in_government_insurance` are set at creation
        and can''t be changed: sending `external_id` returns `422 patient.immutable_field`,
        and the other two return `422 validation.failed`.'
      additionalProperties: false
      properties:
        first_name:
          type: string
          example: Avery
        last_name:
          type: string
          example: Chen
        date_of_birth:
          type: string
          format: date
          description: Calendar date. As `YYYY-MM-DD`.
          example: '1989-04-12'
        sex:
          type: string
          enum:
          - female
          - male
          example: female
        address:
          "$ref": "#/components/schemas/Address"
        email:
          type: string
          format: email
          description: Unique within your organization, ignoring case. An email that
            belongs to another of your patients returns `422 validation.failed` at
            `/email`.
          example: avery.chen@example.com
        phone:
          type: string
          pattern: "^\\+[1-9][0-9]{7,14}$"
          example: "+14155550199"
        telehealth_consented_at:
          type: string
          format: date-time
          description: Re-affirmation timestamp.
          example: '2026-06-01T09:00:00Z'
        height_cm:
          type: integer
          description: Patient height in whole centimeters. Captured at the first
            weight-management intake; send here to correct it.
          minimum: 50
          maximum: 272
          example: 170
        time_zone:
          oneOf:
          - "$ref": "#/components/schemas/PatientTimeZone"
          - type: 'null'
          description: The patient's US time zone, as an IANA name. A zone you send
            stays when the address changes, even if it is the one Lithos looked up.
            Send `null` to have Lithos look it up from `address.postal_code` again.
    Patient:
      type: object
      required:
      - id
      - external_id
      - first_name
      - last_name
      - sex
      - email
      - phone
      - enrolled_in_government_insurance
      - height_cm
      - time_zone
      - date_of_birth
      - telehealth_consented_at
      - identity_verified_at
      - created_at
      - updated_at
      - address
      - assigned_clinician
      properties:
        id:
          type: string
          description: Lithos patient identifier. Sandbox IDs include `_test_`.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        external_id:
          type:
          - string
          - 'null'
          description: Your own identifier supplied at creation. `null` if you didn't
            supply one.
          example: user_2718281828
        first_name:
          type: string
          example: Avery
        last_name:
          type: string
          example: Chen
        sex:
          type: string
          description: Sex assigned at birth.
          enum:
          - female
          - male
          example: female
        email:
          type: string
          format: email
          example: avery.chen@example.com
        phone:
          type: string
          pattern: "^\\+[1-9][0-9]{7,14}$"
          example: "+14155550143"
        enrolled_in_government_insurance:
          type: boolean
          description: Whether the patient attested to government insurance enrollment.
          example: false
        height_cm:
          type:
          - integer
          - 'null'
          description: Patient height in whole centimeters. Set from the first weight-management
            intake; `null` until then.
          example: 170
        time_zone:
          oneOf:
          - "$ref": "#/components/schemas/PatientTimeZone"
          - type: 'null'
          description: The patient's US time zone, as an IANA name. Use it for times
            you send from your server, such as reminders. Set to the zone you sent,
            or else to the zone of `address.postal_code` when Lithos can place that
            ZIP code.
        date_of_birth:
          type: string
          format: date
          example: '1989-04-12'
        telehealth_consented_at:
          type: string
          format: date-time
          example: '2026-04-29T17:42:00Z'
        identity_verified_at:
          type: string
          format: date-time
          description: Set when you verified the patient's identity at intake.
          example: '2026-04-29T17:42:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-04-29T17:42:18Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-29T17:42:18Z'
        address:
          "$ref": "#/components/schemas/Address"
        assigned_clinician:
          oneOf:
          - "$ref": "#/components/schemas/Clinician"
          - type: 'null'
          description: The clinician this patient is with, when that clinician can
            currently see the patient in the state they live in. Set when the patient's
            first encounter is completed. Always `null` if your organization doesn't
            keep each patient with one clinician.
    PatientListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Patient"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    CatalogTreatmentDosage:
      type: object
      required:
      - id
      - strength
      - default_quantity
      - default_days_supply
      - default_instructions
      - description
      description: One strength rung in a catalog treatment's dosing ladder. The `default_*`
        fields are catalog templates the clinician may override per-Rx at completion
        — they default the Prescription, they don't constrain it.
      properties:
        id:
          type: string
          pattern: "^dose_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: dose_test_01HXDS1A2B3C4D5E6F7G8H9JKM
        strength:
          type: string
          description: Strength label (e.g. `0.25mg`, `1mg`). Free-form per dose.
          example: 0.5mg
        default_quantity:
          type: integer
          minimum: 1
          description: Catalog default number of units dispensed (per fill).
          example: 1
        default_days_supply:
          type: integer
          minimum: 1
          description: Catalog default supply window in days.
          example: 28
        default_instructions:
          type: string
          description: Catalog default SIG (patient-facing instructions).
          example: Inject 0.5mg subcutaneously once weekly.
        description:
          type: string
          description: Patient-readable description of this dose / titration stage.
          example: Wegovy titration week 5-8.
    CatalogTreatmentDetail:
      type: object
      required:
      - id
      - name
      - description
      - status
      - brand_name
      - form
      - presentation
      - categories
      - dosages
      description: The shape returned by `GET /v1/catalog_treatments` and `GET /v1/catalog_treatments/:id`
        — what `catalog_treatment_id` resolves to. Carries the underlying medication's
        brand, form, and packaging flattened inline, plus the full `dosages[]` ladder
        so you can display the titration schedule.
      properties:
        id:
          type: string
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          example: wegovy-auto-injector
        name:
          type: string
          example: Wegovy
        description:
          type: string
          example: Wegovy weight-management program.
        status:
          type: string
          enum:
          - active
          - discontinued
          example: active
        brand_name:
          type:
          - string
          - 'null'
          description: Brand name of the underlying medication. `null` for compounded
            or generic-only formulations.
          example: Wegovy
        form:
          type: string
          description: Dosage form / route of the underlying medication.
          enum:
          - subcutaneous_injection
          - oral_tablet
          - oral_capsule
          - topical_cream
          - sublingual_tablet
          - other
          example: subcutaneous_injection
        presentation:
          type: string
          description: SKU-level packaging of the underlying medication.
          enum:
          - prefilled_pen
          - auto_injector
          - vial
          - multidose_pen
          - tablet
          - capsule
          - oral_solution
          - sublingual_tablet
          - cream
          - gel
          - patch
          - prefilled_syringe
          - other
          example: prefilled_pen
        categories:
          type: array
          items:
            type: string
          description: The clinical categories your organization offers this treatment
            under. A CarePlan is scoped to one category and accepts only treatments
            whose `categories` include it. Pass one of these as `category` when creating
            a CarePlan.
          example:
          - weight_management
        dosages:
          type: array
          description: Strength rungs ordered starter-dose-first (lowest titration
            rung up to maintenance). Empty array if no dosages are catalogued yet
            for this catalog treatment.
          items:
            "$ref": "#/components/schemas/CatalogTreatmentDosage"
    CatalogTreatmentListResponse:
      type: object
      required:
      - data
      - pagination
      description: Cursor-paginated page of catalog treatments available to the caller.
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/CatalogTreatmentDetail"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    OrderPharmacy:
      type: object
      required:
      - name
      - address
      description: The pharmacy fulfilling this order.
      properties:
        name:
          type: string
          example: 'Walgreens #1234'
        address:
          "$ref": "#/components/schemas/Address"
    OrderFulfillment:
      type: object
      required:
      - status
      - carrier
      - tracking_number
      description: Pharmacy-reported fulfillment progress. Null until the pharmacy
        first reports on the order — and stays null for an order fulfilled outside
        the pharmacy network.
      properties:
        status:
          type: string
          description: Where the pharmacy has the order, as an open set — new values
            may appear without notice, so treat unrecognized ones as "in progress".
            Mail orders move through `sent`, `received`, `filling`, `shipped`, `delivered`;
            pickup orders through `sent`, `received`, `ready`, `picked_up`. How far
            a given pharmacy reports varies — some stop at `received`.
          example: shipped
        carrier:
          type:
          - string
          - 'null'
          description: Shipping carrier, set once a mail order ships. Always null
            for pickup orders.
          example: USPS
        tracking_number:
          type:
          - string
          - 'null'
          description: Carrier tracking number, set once a mail order ships. Always
            null for pickup orders.
          example: '9400111899560000000000'
    Prescription:
      type: object
      required:
      - id
      - patient_id
      - encounter_id
      - order_id
      - strength
      - instructions
      - quantity
      - days_supply
      - active
      - notes
      - written_at
      - expiration_date
      - created_at
      - updated_at
      - catalog_treatment_id
      - written_by
      description: A clinical prescription line item. The treatment is referenced
        by `catalog_treatment_id` (the slug); fetch the full CatalogTreatment (name
        + Medication) from `GET /v1/catalog_treatments/:id`. `strength` is a flat
        string lifted from the internal Dosage row; the catalog defaults and titration
        rank stay clinician-internal.
      properties:
        id:
          type: string
          pattern: "^rx_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: rx_test_01HXRX78A9BCDEFGHJKMNPQRST
        patient_id:
          type: string
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        encounter_id:
          type: string
          pattern: "^enc_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: enc_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        order_id:
          type: string
          pattern: "^ord_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: ord_test_01HXR1A2B3C4D5E6F7G8H9JKMN
        strength:
          type: string
          description: Strength label as prescribed (e.g. `0.5mg`, `1mg`). Matches
            the strength of the catalog variant the clinician selected.
          example: 0.5mg
        instructions:
          type: string
          description: Clinician-authored instructions for the patient (the sig).
          example: Inject 0.5mg subcutaneously once weekly.
        quantity:
          type: integer
          minimum: 1
          description: Number of units dispensed.
          example: 1
        days_supply:
          type: integer
          minimum: 1
          description: Supply window in days.
          example: 28
        active:
          type: boolean
          description: Whether this is the in-force prescription on its (care_plan,
            treatment) line. At most one active prescription exists per (plan, treatment);
            a refill or switch deactivates the prior one as the new one is issued.
          example: true
        notes:
          type:
          - string
          - 'null'
          description: Free-form notes from the clinician to the dispensing pharmacy.
          example:
        written_at:
          type: string
          format: date-time
          example: '2026-04-30T10:15:00Z'
        expiration_date:
          type: string
          format: date
          description: ISO-8601 calendar date after which this prescription cannot
            be filled.
          example: '2027-04-30'
        created_at:
          type: string
          format: date-time
          example: '2026-04-30T10:15:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-30T15:30:00Z'
        catalog_treatment_id:
          type: string
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          description: Slug of the CatalogTreatment this Rx was written for. Resolve
            the full treatment via `GET /v1/catalog_treatments/:id`.
          example: wegovy-auto-injector
        written_by:
          "$ref": "#/components/schemas/Clinician"
    PrescriptionListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Prescription"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    Order:
      type: object
      required:
      - id
      - encounter_id
      - patient_id
      - status
      - created_at
      - updated_at
      - processing_at
      - placed_at
      - completed_at
      - canceled_at
      - pharmacy
      - fulfillment
      - shipping_address
      - prescriptions
      properties:
        id:
          type: string
          pattern: "^ord_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: ord_test_01HXR1A2B3C4D5E6F7G8H9JKMN
        encounter_id:
          type: string
          pattern: "^enc_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: enc_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        patient_id:
          type: string
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        status:
          type: string
          description: Order status. `processing` is Lithos routing the order to a
            pharmacy; `placed` means the pharmacy accepted it and it sits in their
            queue. A rerouted order returns to `processing` until the next pharmacy
            accepts. `completed` means the patient has the medication.
          enum:
          - pending
          - processing
          - placed
          - completed
          - canceled
          example: placed
        created_at:
          type: string
          format: date-time
          example: '2026-04-30T10:15:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-30T15:30:00Z'
        processing_at:
          type:
          - string
          - 'null'
          format: date-time
          example:
          description: When routing last began (`processing`). Survives later transitions;
            a reroute refreshes it.
        placed_at:
          type:
          - string
          - 'null'
          format: date-time
          example:
          description: When the pharmacy most recently accepted the order (`placed`).
            Survives later transitions — read `status` for the current state, not
            this stamp. A reroute that lands at a new pharmacy refreshes it.
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          example:
        canceled_at:
          type:
          - string
          - 'null'
          format: date-time
          example:
        pharmacy:
          oneOf:
          - "$ref": "#/components/schemas/OrderPharmacy"
          - type: 'null'
          description: The dispensing pharmacy, always with its address. When it is
            set depends on how the order is routed — it may be there as soon as the
            order is placed, or not until the patient picks a pharmacy. An order fulfilled
            outside a pharmacy keeps it `null`.
        fulfillment:
          oneOf:
          - "$ref": "#/components/schemas/OrderFulfillment"
          - type: 'null'
          description: Pharmacy-reported fulfillment progress — shipment status and
            tracking for mail orders, pickup readiness for pickup orders. Null while
            no fulfillment snapshot is available.
        shipping_address:
          allOf:
          - "$ref": "#/components/schemas/Address"
          description: Destination address snapshot captured at order create time.
            Immutable on the Order — even if the patient's address book changes later,
            the historical Order keeps the address it shipped to.
        prescriptions:
          type: array
          minItems: 1
          description: The clinical line items dispensed in this order.
          items:
            "$ref": "#/components/schemas/Prescription"
    OrderListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Order"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    EncounterCreate:
      type: object
      required:
      - patient_id
      - care_plan_id
      - intake_form
      - requested_treatments
      additionalProperties: false
      description: Request body for creating an encounter against a care plan.
      properties:
        patient_id:
          type: string
          description: Patient this encounter belongs to.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        care_plan_id:
          type: string
          description: CarePlan this encounter belongs to.
          pattern: "^cpl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: cpl_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        intake_form:
          type: object
          required:
          - data
          additionalProperties: false
          description: The patient's intake submission.
          properties:
            data:
              type: object
              description: The patient's intake responses. Validated against the schema
                for the care plan's category and encounter type — see the Intake Schemas
                guide.
              additionalProperties: true
        requested_treatments:
          type: array
          minItems: 1
          description: Clinical requests to act on for this encounter. An encounter
            on a `pending_review` plan (the plan's first encounter) must contain only
            `add` items.
          items:
            "$ref": "#/components/schemas/RequestedTreatment"
        reservation_token:
          type: string
          x-internal: true
          description: 'Books the first visit in the same call. Required when the
            encounter would be `sync` (`422 reservation_token.required` without it),
            and refused on an `async` one. The `reservation_token` returned when you
            held the slot. The hold must still be active, and must have been taken
            for this `patient_id` and `care_plan_id`. With it, the `Idempotency-Key`
            header is required. If the booking is refused, no encounter is created:
            `slot.taken` or `slot_reservation.not_active` (409), `slot_reservation.encounter_mismatch`
            or `clinician.not_licensed_in_state` (422), `slot_reservation.rescheduling_mismatch`
            (422) for a hold taken to reschedule a visit, and `encounter.not_bookable`
            (422) when the encounter would be `async` and needs no visit. On success
            the encounter comes back with `latest_appointment` booked.'
          example: eyJyc3YiOiJyc3ZfdGVzdF8wMUhYUlMxQTJCM0M0RDVFNkY3RzhIOUpLTSJ9--0123456789abcdef
    Encounter:
      type: object
      required:
      - id
      - patient_id
      - care_plan_id
      - encounter_type
      - modality
      - needs_appointment
      - latest_appointment
      - status
      - escalation_reason
      - created_at
      - updated_at
      - completed_at
      - canceled_at
      - intake_form
      - care_plan
      - clinician
      - continuity_of_care
      - requested_treatments
      - orders
      - lab_requisitions
      - patient_message
      properties:
        id:
          type: string
          description: Lithos encounter identifier. Sandbox IDs include `_test_`.
          pattern: "^enc_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: enc_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        patient_id:
          type: string
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        care_plan_id:
          type: string
          description: The CarePlan this encounter advances. Required on every encounter.
          pattern: "^cpl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: cpl_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        encounter_type:
          type: string
          description: Whether this is the care plan's first encounter (`initial`)
            or a `follow_up`.
          enum:
          - initial
          - follow_up
          example: initial
        modality:
          type: string
          x-internal: true
          description: How the encounter is conducted. `sync` means the patient's
            state requires a live video visit at this stage of the care plan, and
            a completed appointment is needed before the encounter can complete. `async`
            is a store-and-forward review. Set when the encounter is created.
          enum:
          - async
          - sync
          example: async
        needs_appointment:
          type: boolean
          x-internal: true
          description: Whether to offer the patient a time. A `sync` encounter is
            created with its first visit booked, so this is `true` when the most recent
            booking was canceled or missed. False on every `async` encounter, and
            false once the encounter itself is `canceled` or `completed` — a closed
            encounter can never take another visit, whatever its most recent booking
            says. Otherwise it reads the most recent booking only, so an open encounter
            whose visit already happened reads `true` again once a later booking is
            canceled — the visit that happened still counts, and the encounter can
            still complete.
          example: false
        latest_appointment:
          x-internal: true
          oneOf:
          - "$ref": "#/components/schemas/Appointment"
          - type: 'null'
          description: The most recent appointment for this encounter, in any status.
            `null` until one is booked. Read `patient_join` off it to drive the join
            button; the full history is at `GET /v1/encounters/{encounter_id}/appointments`.
        status:
          type: string
          description: Encounter status. Terminal states are `completed` (the clinician
            signed off the review) and `canceled`. `completed` does not imply the
            patient was approved for treatment — the clinical verdict is on the care
            plan.
          enum:
          - pending_review
          - in_review
          - escalated
          - completed
          - canceled
          example: pending_review
        escalation_reason:
          type:
          - string
          - 'null'
          description: Why the encounter is paused. Populated only when `status` is
            `escalated`; `null` otherwise.
          enum:
          - patient_information_required
          -
          example:
        created_at:
          type: string
          format: date-time
          example: '2026-04-29T18:02:11Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-30T14:18:42Z'
        completed_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the clinician signed off the encounter (status `completed`).
            `null` otherwise, including when `canceled`.
          example:
        canceled_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the encounter was canceled (status `canceled`). `null`
            otherwise.
          example:
        intake_form:
          "$ref": "#/components/schemas/IntakeForm"
        care_plan:
          "$ref": "#/components/schemas/CarePlanSummary"
        clinician:
          oneOf:
          - "$ref": "#/components/schemas/Clinician"
          - type: 'null'
          description: The clinician this encounter belongs to. On a `sync` encounter
            the booking names them, so this is set as soon as the visit is booked
            — while `status` is still `pending_review` — and a reschedule to another
            clinician moves it. On an `async` encounter nothing books it, so it stays
            `null` until review starts. Either way it is the clinician who signs the
            encounter off.
        continuity_of_care:
          type:
          - string
          - 'null'
          enum:
          - kept
          - not_kept
          -
          description: 'Whether the patient got the clinician they were already with.
            `kept` — that clinician reviewed it themselves. `not_kept` — somebody
            else did, so the patient dealt with a different person. Three things produce
            that: a colleague covered; the patient''s clinician could no longer take
            them and this encounter was sent to a replacement instead; or nobody was
            licensed where the patient lives, so the encounter was open to anyone
            and `clinician` is `null`. All three are expected rather than failures,
            and none changes who the patient''s clinician is. `null` — either nothing
            to keep, or nothing decided yet. Nothing to keep: a patient''s first encounter,
            an organization with continuity of care switched off, or a `sync` encounter,
            whose clinician is settled when the visit is booked. Nothing decided yet:
            an encounter still awaiting review, which is the commonest reason you
            will see `null`. Read it with `status` to tell them apart. Recorded when
            the encounter is routed if the patient''s clinician had already been replaced
            by then, and otherwise when the review is signed off. It describes what
            happened on THIS encounter, so reassigning the patient later cannot change
            it.'
          example:
        requested_treatments:
          type: array
          description: 'The self-describing request lines: each carries its action,
            verdict `status`, and the treatment(s) a granted line produced.'
          items:
            "$ref": "#/components/schemas/RequestedTreatmentLine"
        orders:
          type: array
          description: Fulfillment orders generated when the encounter is completed.
            Empty array (`[]`) until the encounter is completed.
          items:
            "$ref": "#/components/schemas/Order"
        lab_requisitions:
          type: array
          description: Lab requisitions the clinician signed with this encounter.
            Empty (`[]`) until the encounter is completed. Each entry gets a `download`
            once its PDF is ready.
          items:
            "$ref": "#/components/schemas/LabRequisition"
        patient_message:
          oneOf:
          - "$ref": "#/components/schemas/PatientMessage"
          - type: 'null'
          description: The care-team message to relay to the patient, set when the
            clinician completes the encounter. `null` until the encounter is completed.
    EncounterRequirements:
      type: object
      required:
      - requirements
      description: What must be satisfied for an encounter on this patient and care
        plan.
      properties:
        requirements:
          type: object
          required:
          - modality
          properties:
            modality:
              type: object
              required:
              - value
              properties:
                value:
                  type: string
                  enum:
                  - async
                  - sync
                  description: How the encounter must be conducted. `sync` requires
                    a live video visit. The encounter carries this value once created.
                  example: async
    EncounterPrecheck:
      type: object
      required:
      - passed
      - reasons
      - requirements
      description: 'What `POST /v1/encounters` would say about an encounter for this
        patient on this care plan, and what the encounter would need. Only checks
        that need no intake are made here. This is not insurance eligibility, and
        not a clinical judgment: the reviewing clinician decides whether the patient
        qualifies.'
      properties:
        passed:
          type: boolean
          description: "`true` when `reasons` is empty: `POST /v1/encounters` will
            not refuse the encounter on any of the reasons listed here. Your request
            can still fail validation, for example on the intake."
          example: true
        reasons:
          type: array
          description: 'Why `POST /v1/encounters` would refuse the encounter. Empty
            when `passed` is `true`. Each `code` is the code `POST /v1/encounters`
            refuses with. It is a list so more reasons can be added. The answer is
            for a create without a `reservation_token`: with a slot hold, the held
            clinician takes the visit even if they stopped taking new encounters while
            the hold stood.'
          items:
            type: object
            required:
            - code
            - message
            properties:
              code:
                type: string
                enum:
                - care_plan.not_encounterable
                - encounter.initial_already_exists
                - encounter.no_licensed_availability
                description: "`care_plan.not_encounterable`: the care plan is neither
                  `pending_review` nor `active`, so it cannot take a new encounter.
                  Ask again once its status changes: an `in_review` plan takes follow-ups
                  once it is `active` (the `care_plan.active` webhook). An `ineligible`
                  or `canceled` plan never will. `encounter.initial_already_exists`:
                  the care plan already has its initial encounter. Use that one, or
                  cancel it while `pending_review` and ask again. `encounter.no_licensed_availability`:
                  no Lithos clinician licensed in the patient's state can take the
                  encounter right now, or, when it needs a live visit, none of them
                  is taking visits. Ask again later."
                example: encounter.no_licensed_availability
              message:
                type: string
                description: A sentence for your developers and logs. Write your own
                  text for the patient.
                example: No Lithos clinician licensed in TX is taking encounters right
                  now.
        requirements:
          type:
          - object
          - 'null'
          required:
          - modality
          properties:
            modality:
              type: object
              required:
              - value
              properties:
                value:
                  type: string
                  enum:
                  - async
                  - sync
                  description: How the encounter must be conducted. `sync` requires
                    a live video visit. The encounter carries this value once created.
                  example: async
          description: What the encounter would need. Set when the care plan can take
            a new encounter; `null` for `care_plan.not_encounterable` and `encounter.initial_already_exists`.
    AppointmentSlot:
      type: object
      required:
      - starts_at
      - duration_minutes
      - current
      - slot_token
      description: One bookable start. Which clinician would take the visit is not
        part of the contract; it travels inside `slot_token`.
      properties:
        starts_at:
          type: string
          format: date-time
          description: When the visit would start, as an RFC 3339 timestamp in UTC.
          example: '2026-03-09T13:00:00Z'
        duration_minutes:
          type: integer
          description: How long the visit runs, from the organization's appointment
            settings.
          example: 15
        current:
          type: boolean
          description: "`true` on the slot at the start the visit already has, in
            the reschedule grid (`GET /v1/appointments/{appointment_id}/reschedule_slots`),
            so the patient can keep their time. `false` on every other slot, and always
            `false` in `GET /v1/appointment_slots`."
          example: false
        slot_token:
          type: string
          description: Opaque, short-lived handle for this start. Present it to reserve
            the slot. It cannot be read or edited, and it expires 10 minutes after
            it was issued, so fetch slots again rather than caching them.
          example: ZXhhbXBsZS1zbG90LXRva2Vu--c2ln
    AppointmentSlotsResponse:
      type: object
      required:
      - slots
      - reason
      - next_available
      description: The times a patient may be offered for a live video visit, deduplicated
        by start and ordered soonest first.
      properties:
        slots:
          type: array
          items:
            "$ref": "#/components/schemas/AppointmentSlot"
          description: Empty when nothing is bookable; `reason` then says why.
        reason:
          type:
          - string
          - 'null'
          enum:
          - no_licensed_availability
          - no_slots_in_range
          -
          description: 'Why `slots` is empty; null whenever it is not. `no_licensed_availability`:
            no active clinician licensed in the patient''s state keeps hours, so another
            range will not help. `no_slots_in_range`: someone qualifies, but nothing
            lands inside the range asked for; see `next_available`.'
        next_available:
          type:
          - string
          - 'null'
          format: date-time
          description: With `no_slots_in_range`, the first bookable start after `to`
            (ISO-8601 UTC), or null when the organization's booking horizon is reached
            first. Null in every other case.
    SandboxComplete:
      type: object
      description: Scripts the clinician sign-off. Omit `treatments` and `plan` (empty
        body) to approve every requested line and activate the plan. An `add` line
        that named no catalog treatment left the medication to the clinician, so name
        it in `dosage_ids` rather than omitting the body.
      properties:
        treatments:
          type: array
          description: Per-requested-treatment verdicts. A line you omit inherits
            the plan default — approved under an eligible plan, rejected under an
            ineligible one.
          items:
            type: object
            required:
            - requested_treatment_id
            - status
            properties:
              requested_treatment_id:
                type: string
                pattern: "^rqt_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
                description: The `id` of one of this encounter's `requested_treatments[]`.
                  Any other ID returns `422 validation.failed` at this field.
              status:
                type: string
                enum:
                - approved
                - modified
                - rejected
                description: "`approved` prescribes the requested medication — or,
                  when the `add` named no catalog treatment, the one you give in `dosage_ids`;
                  `modified` substitutes a different one; `rejected` declines the
                  line."
              ineligibility_reason_code:
                type: string
                enum:
                - clinical_contraindication
                - criteria_not_met
                - alternative_preferred
                - duplicate_therapy
                - not_available
                - other
                description: Required when `status` is `rejected`.
              dosage_ids:
                type: array
                items:
                  type: string
                  pattern: "^dose_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
                description: The exact dosages to prescribe for this line (each a
                  rung of a catalog treatment, discoverable from `GET /v1/catalog_treatments`).
                  Omit on an `approved` `add` or `switch` line to prescribe the medication
                  it named at its starting rung, or on an `approved` `refill` to continue
                  the patient's current rung. Required on `modified` — omitting it
                  fails as `validation.failed` at this field. Also required on an
                  `approved` line whose `add` named no catalog treatment, where omitting
                  it fails as `sandbox.completion_invalid` rather than at this field.
                  List several to bundle — e.g. approve the requested medication and
                  add a supportive one. Every dosage must be available to your organization
                  and in the plan's clinical category.
        plan:
          type: object
          required:
          - eligibility_status
          description: The plan-level verdict. Omitted ⇒ eligible.
          properties:
            eligibility_status:
              type: string
              enum:
              - eligible
              - ineligible
            ineligibility_reason_code:
              type: string
              enum:
              - clinical_contraindication
              - criteria_not_met
              - alternative_preferred
              - duplicate_therapy
              - not_available
              - other
              description: Required when `eligibility_status` is `ineligible`.
        lab_orders:
          type: array
          description: 'Lab requisitions to sign with this completion, one per `preset`.
            Each is created `approved` with its PDF queued, the same as a real sign-off,
            and fires `lab_requisition.issued` when the PDF is ready. Preset names
            and rules: see **Order lab requisitions** in the Sandbox overview.'
          items:
            type: object
            required:
            - preset
            properties:
              preset:
                type: string
                pattern: "^[a-z0-9][a-z0-9_-]*$"
                description: The preset to order, as a slug.
                example: lipid-baseline-pcsk9
    SandboxEscalate:
      type: object
      required:
      - escalation_reason
      description: Pauses the review for more information.
      properties:
        escalation_reason:
          type: string
          enum:
          - patient_information_required
          description: Why the review is paused.
          example: patient_information_required
        message_for_patient:
          type: string
          maxLength: 10000
          description: The question relayed to the patient as the first message of
            an info-request inquiry. Required when `escalation_reason` is `patient_information_required`.
    IntakeForm:
      type: object
      required:
      - id
      - data
      description: The patient's intake submission, embedded on the encounter.
      properties:
        id:
          type: string
          pattern: "^itk_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: itk_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        data:
          type: object
          description: The intake responses, echoed back. Server-derived fields (e.g.
            `bmi`) are added; a consumed upload id (e.g. `full_body_photo_upload_id`)
            is replaced by its redeemed document reference (e.g. `full_body_photo_document_id`).
          additionalProperties: true
    EncounterListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Encounter"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    RequestedTreatment:
      description: 'A request line on an encounter. Discriminated by `action`: `add`
        names a catalog treatment via `catalog_treatment_id` (or omits it to defer
        the choice to the clinician); `refill` names the existing line via `treatment_id`;
        `switch` names the line via `treatment_id` and the target catalog treatment
        via `catalog_treatment_id`.'
      oneOf:
      - "$ref": "#/components/schemas/RequestedTreatmentAdd"
      - "$ref": "#/components/schemas/RequestedTreatmentLineAction"
      - "$ref": "#/components/schemas/RequestedTreatmentSwitch"
      discriminator:
        propertyName: action
        mapping:
          add: "#/components/schemas/RequestedTreatmentAdd"
          refill: "#/components/schemas/RequestedTreatmentLineAction"
          switch: "#/components/schemas/RequestedTreatmentSwitch"
    RequestedTreatmentAdd:
      type: object
      title: add
      required:
      - action
      additionalProperties: false
      description: Start a new treatment. Name the catalog treatment via `catalog_treatment_id`
        (slug) — it must not already have an active line in this plan. Omit `catalog_treatment_id`
        to let the reviewing clinician choose a treatment within the care plan's category
        (a "discretionary add"); the chosen catalog treatment is returned on the completed
        line's `treatments[]`.
      properties:
        action:
          type: string
          enum:
          - add
        catalog_treatment_id:
          type: string
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          description: The catalog treatment to start. Omit to defer the choice to
            the clinician.
    RequestedTreatmentLineAction:
      type: object
      title: refill
      required:
      - action
      - treatment_id
      additionalProperties: false
      description: Act on an existing treatment, named by its `treatment_id` (read
        off the care-plan response). `refill` writes the next Rx on the line. The
        line must be active.
      properties:
        action:
          type: string
          enum:
          - refill
        treatment_id:
          type: string
          pattern: "^thr_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The active treatment to act on.
    RequestedTreatmentSwitch:
      type: object
      title: switch
      required:
      - action
      - treatment_id
      - catalog_treatment_id
      additionalProperties: false
      description: Switch an existing treatment (`treatment_id`) to a different catalog
        treatment (`catalog_treatment_id`, the target). The line keeps its identity;
        the target must not already have an active line.
      properties:
        action:
          type: string
          enum:
          - switch
        treatment_id:
          type: string
          pattern: "^thr_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The active treatment to switch.
        catalog_treatment_id:
          type: string
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          description: The target catalog treatment to switch to.
    RequestedTreatmentLine:
      type: object
      required:
      - id
      - treatment_id
      - action
      - catalog_treatment_id
      - status
      - treatments
      description: One requested line plus its verdict. `treatments` is populated
        on a granted line (approved or modified; a treatment's presence signals eligibility);
        `ineligibility_reason_code` is present only on a rejected line.
      properties:
        id:
          type: string
          pattern: "^rqt_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The requested treatment id.
        treatment_id:
          type:
          - string
          - 'null'
          pattern: "^thr_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The existing treatment this acts on (refill/switch); `null`
            for an add.
        action:
          type: string
          enum:
          - add
          - refill
          - switch
          description: "`add` / `refill` / `switch`."
        catalog_treatment_id:
          type:
          - string
          - 'null'
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          description: 'The catalog treatment the line names: the one being added
            (`add`) or switched to (`switch`, same as the request), or the treatment''s
            current catalog for `refill`. `null` on a discretionary add (the medication
            was deferred to the clinician). The actually prescribed catalog (a substitute,
            or the clinician''s choice for a discretionary add) is on `treatments[]`.'
        status:
          type: string
          enum:
          - pending
          - approved
          - modified
          - rejected
          description: The line verdict. `pending` until sign-off, then `approved`
            (prescribed as requested), `modified` (approved, but the clinician prescribed
            a different drug than the line named — compare `catalog_treatment_id`
            to `treatments[]`), or `rejected`.
        ineligibility_reason_code:
          type: string
          enum:
          - clinical_contraindication
          - criteria_not_met
          - alternative_preferred
          - duplicate_therapy
          - not_available
          - other
          description: Coded reason a line was rejected. Maps onto a FHIR `medicationrequest-status-reason`
            code where one exists.
        treatments:
          type: array
          description: Treatment(s) the approval produced/continued. Empty on a pending
            or rejected line.
          items:
            "$ref": "#/components/schemas/RequestedTreatmentResult"
    RequestedTreatmentResult:
      type: object
      required:
      - treatment_id
      - catalog_treatment_id
      - dosage_id
      - current_prescription_id
      - refill_status
      - refill_due_at
      - clinician_notes
      additionalProperties: false
      description: A treatment produced or continued by a granted requested line (approved
        or modified).
      properties:
        treatment_id:
          type: string
          pattern: "^thr_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: Stable treatment id. Continues across a switch.
        catalog_treatment_id:
          type: string
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          description: The catalog treatment this line is currently on.
        dosage_id:
          type:
          - string
          - 'null'
          pattern: "^dose_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The dosage the line is on — paired with `catalog_treatment_id`,
            so a completed line still reports the dosage it was last on.
        current_prescription_id:
          type:
          - string
          - 'null'
          pattern: "^rx_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The line's active Prescription id; `null` once completed. Fetch
            the full Prescription from the CarePlan read.
        refill_status:
          type: string
          enum:
          - eligible
          - not_eligible
          - pending
          description: The line's refill state after this completion. A granted refill
            puts the line back to `not_eligible`; it becomes due again once the new
            prescription's order is placed.
        refill_due_at:
          type:
          - string
          - 'null'
          format: date-time
        clinician_notes:
          type:
          - string
          - 'null'
          description: Clinician note on this produced line (e.g. why it was added).
            Null when none.
    CarePlan:
      type: object
      required:
      - id
      - patient_id
      - status
      - category
      - clinician_notes
      - created_at
      - updated_at
      - active_at
      - ineligible_at
      - clinician
      - treatments
      properties:
        id:
          type: string
          pattern: "^cpl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: cpl_test_01HXEN1A2B3C4D5E6F7G8H9JKM
        patient_id:
          type: string
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
        category:
          type: string
          description: The clinical category this plan is scoped to (e.g. `weight_management`,
            `lipid_management`). Set at creation; every treatment in the plan belongs
            to this category. One of the `categories` on the catalog treatments your
            organization carries (see `GET /v1/catalog_treatments`).
          example: weight_management
        status:
          type: string
          enum:
          - pending_review
          - in_review
          - active
          - ineligible
          - canceled
          description: Plans start in `pending_review`. The plan moves to `in_review`
            when a clinician starts reviewing its initial encounter, then to `active`
            (eligible) or `ineligible` (with a reason) at sign-off.
        clinician_notes:
          type:
          - string
          - 'null'
          description: Free-text clinician note recorded at sign-off (e.g. why the
            plan was marked ineligible). Null when none.
        ineligibility_reason_code:
          type: string
          enum:
          - clinical_contraindication
          - criteria_not_met
          - alternative_preferred
          - duplicate_therapy
          - not_available
          - other
          description: Coded reason the plan is ineligible. Only present when `status`
            is `ineligible`; omitted in every other state. Maps onto a FHIR `medicationrequest-status-reason`
            code where one exists. Free-text elaboration is in `clinician_notes`.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        active_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Set when the clinician declared the plan eligible at sign-off
            (`in_review` → `active`). Persists if a later follow-up moves the plan
            to `ineligible`. `null` on plans that were never activated.
        ineligible_at:
          type:
          - string
          - 'null'
          format: date-time
          description: Set when the clinician declared the plan ineligible at sign-off.
            `null` unless `status` is `ineligible`.
        clinician:
          oneOf:
          - "$ref": "#/components/schemas/Clinician"
          - type: 'null'
          description: The clinician who decided this plan. `null` until sign-off
            (while `pending_review` or `in_review`).
        treatments:
          type: array
          description: One entry per treatment in the plan, including completed lines.
          items:
            "$ref": "#/components/schemas/CarePlanTreatmentEntry"
    CarePlanSummary:
      type: object
      required:
      - status
      - category
      - clinician_notes
      description: The owning CarePlan's current plan-level state, embedded on the
        encounter so the sign-off outcome is readable inline. The full plan (with
        `treatments[]`) is at `GET /v1/care_plans/{id}` via the encounter's `care_plan_id`.
        A live view, not a snapshot frozen at sign-off.
      properties:
        status:
          type: string
          enum:
          - pending_review
          - in_review
          - active
          - ineligible
          - canceled
          description: The plan's lifecycle status.
        category:
          type: string
          description: The clinical category the plan is scoped to.
          example: weight_management
        clinician_notes:
          type:
          - string
          - 'null'
          description: Free-text clinician note recorded at sign-off. Null when none.
        ineligibility_reason_code:
          type: string
          enum:
          - clinical_contraindication
          - criteria_not_met
          - alternative_preferred
          - duplicate_therapy
          - not_available
          - other
          description: Coded reason the plan is ineligible. Only present when `status`
            is `ineligible`; omitted in every other state.
    CarePlanCreate:
      type: object
      required:
      - patient_id
      - category
      additionalProperties: false
      description: Request body for creating a CarePlan. Plans always start in `pending_review`.
      properties:
        patient_id:
          type: string
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
        category:
          type: string
          description: The clinical category to scope the plan to. Must be a category
            your organization carries treatments in (one of the `categories` on `GET
            /v1/catalog_treatments`); otherwise the request is rejected with `category.unavailable`.
            Every treatment later added to the plan must belong to this category.
          example: weight_management
    CarePlanListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/CarePlan"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    CarePlanTreatmentEntry:
      type: object
      required:
      - treatment_id
      - catalog_treatment_id
      - dosage_id
      - status
      - current_prescription
      - refill_status
      - refill_due_at
      description: 'A single treatment on a patient''s CarePlan — the patient''s line
        for one catalog treatment (`catalog_treatment_id`). This is what you read
        to track it and decide when to re-order: `GET /v1/care_plans/{id}` lists one
        entry per line in `treatments[]`, completed lines included, and each line''s
        `refill_status` / `refill_due_at` tell you whether and when the patient is
        due for a refill.'
      properties:
        treatment_id:
          type: string
          pattern: "^thr_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: Stable identifier for the treatment. Persists across a switch
            (the line stays the same; `catalog_treatment_id` changes).
        catalog_treatment_id:
          type: string
          pattern: "^[a-z0-9][a-z0-9_-]*$"
          description: The catalog treatment the line is currently on — or was last
            on, for a completed line.
        dosage_id:
          type:
          - string
          - 'null'
          pattern: "^dose_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: The dosage the line is on — paired with `catalog_treatment_id`,
            so a completed line still reports the dosage it was last on.
        status:
          type: string
          enum:
          - active
          - completed
          description: "`active` while the line has an in-force Rx; `completed` once
            the line has ended."
        current_prescription:
          oneOf:
          - "$ref": "#/components/schemas/Prescription"
          - type: 'null'
          description: The line's active Prescription. `null` once the line is completed.
        refill_status:
          type: string
          enum:
          - eligible
          - not_eligible
          - pending
          description: "`eligible` once `refill_due_at` has passed; `pending` while
            a refill or switch on this treatment is in review. Always `not_eligible`
            for a completed treatment. A stored value, rewritten when the line's order
            reaches `placed` / `completed` / `canceled`, when an encounter touching
            the line is signed off, and by a daily sweep. Becoming `eligible`, and
            the `pending` value, are set by that sweep — see the Refills guide."
        refill_due_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the refill window opens. Set once the active prescription's
            order has reached `placed` or `completed`, from that order's `completed_at`
            when the pharmacy reports it, else its `placed_at`, plus the days supply,
            minus your organization's refill lead days. A stored value, rewritten
            as that order moves and at encounter sign-off.
    UploadCreate:
      type: object
      required:
      - filename
      - content_type
      - byte_size
      - checksum
      additionalProperties: false
      description: Metadata for a one-time-use upload slot. The actual bytes are not
        transmitted on this call.
      properties:
        filename:
          type: string
          maxLength: 255
          description: Original filename, preserved on the durable Document.
          example: insurance-card-front.jpg
        content_type:
          type: string
          description: 'MIME type of the file, matched exactly: lowercase, no parameters.
            Today `image/jpeg`, `image/png`, `image/heic` or `application/pdf`; any
            other value returns `415 upload.unsupported_type`.'
          example: image/jpeg
        byte_size:
          type: integer
          minimum: 1
          description: Exact file size in bytes. Over the current limit (25 MB, 26,214,400
            bytes, today) returns `413 upload.too_large`. Redeeming an upload whose
            bytes are a different size returns `422 upload.size_mismatch`.
          example: 184320
        checksum:
          type: string
          description: Base64-encoded MD5 digest of the file bytes (22 characters
            plus `==`); anything else returns `422 validation.failed`. Storage refuses
            a `PUT` whose bytes don't match it (`400 BadDigest`), and redeeming an
            upload whose bytes never arrived returns `422 upload.invalid_checksum`.
          pattern: "^[A-Za-z0-9+/]{22}==$"
          example: n4bQgYhMfWWaL+qgxVrQFA==
    Upload:
      type: object
      required:
      - id
      - filename
      - content_type
      - byte_size
      - checksum
      - expires_at
      - upload_url_expires_at
      - created_at
      - object
      - upload_url
      - upload_headers
      description: A one-time-use upload slot. `PUT` the file bytes to `upload_url`
        with `upload_headers`, then redeem `id` exactly once on the call that creates
        the resource (a document, an insurance card image, or an intake photo). The
        two steps run on separate clocks — see `upload_url_expires_at` and `expires_at`.
      properties:
        id:
          type: string
          description: Lithos upload ID. Single-use.
          pattern: "^upl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: upl_test_01HXNP1A2B3C4D5E6F7G8H9JKM
        filename:
          type: string
          example: insurance-card-front.jpg
        content_type:
          type: string
          example: image/jpeg
        byte_size:
          type: integer
          example: 184320
        checksum:
          type: string
          description: Echoed back from the request. Base64-encoded MD5.
          example: n4bQgYhMfWWaL+qgxVrQFA==
        expires_at:
          type: string
          format: date-time
          description: Redemption deadline. Redeem `id` before this timestamp, or
            the redeem call returns `410 upload.expired`. Longer than `upload_url_expires_at`,
            so a slot whose bytes are already uploaded survives a patient who takes
            their time.
          example: '2026-05-07T18:00:00Z'
        upload_url_expires_at:
          type: string
          format: date-time
          description: When `upload_url` stops accepting bytes. `PUT` before this
            timestamp; after it the storage backend rejects the request and you must
            reserve a new upload.
          example: '2026-04-30T19:00:00Z'
        created_at:
          type: string
          format: date-time
          example: '2026-04-30T18:00:00Z'
        object:
          type: string
          const: upload
          description: Discriminator; always `upload`.
        upload_url:
          type: string
          format: uri
          description: Presigned object-storage URL. Send the file bytes here with
            `PUT`. Do not send Lithos credentials on this hop. Served from Google
            Cloud Storage, not from a Lithos hostname — allow it through any egress
            rules you apply.
          example: https://storage.googleapis.com/lithos-uploads/01HXUP1A2B3C4D5E6F7G8H9JKM?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Signature=...
        upload_headers:
          type: object
          additionalProperties:
            type: string
          description: 'Headers to send on the `PUT` to `upload_url`. `Content-MD5`
            is signed and required — send it exactly as returned, and send bytes that
            match it, or object storage rejects the upload. `Content-Type` is the
            type you declared on the reservation and is only a recommendation: it
            is not part of the signature, so a client that omits it or sends a different
            default still succeeds. `Content-Disposition` sets the filename the file
            downloads under; like `Content-Type` it is not signed. Echo every header
            you receive rather than picking out the ones listed here.'
          example:
            Content-MD5: n4bQgYhMfWWaL+qgxVrQFA==
            Content-Disposition: inline; filename="insurance-front.jpg"; filename*=UTF-8''insurance-front.jpg
            Content-Type: image/jpeg
    DocumentCategory:
      type: string
      pattern: "^[a-z][a-z0-9_]{0,63}$"
      description: Document intent.
      example: lab_result
    DocumentDownload:
      type: object
      required:
      - url
      - method
      - expires_at
      description: A download envelope minted on every Document read. Don't cache
        — re-fetch the document when you need the file.
      properties:
        url:
          type: string
          format: uri
          description: Presigned object-storage URL. `GET` to retrieve the file bytes.
          example: https://files.lithoshealth.com/documents/01HXDC1A2B3C4D5E6F7G8H9JKM?signature=...
        method:
          type: string
          const: GET
          description: Always `GET`.
        expires_at:
          type: string
          format: date-time
          description: When `url` expires. Re-fetch the document for a new URL after
            it elapses.
          example: '2026-04-30T19:15:00Z'
    DocumentUploader:
      type: object
      required:
      - id
      - first_name
      - last_name
      - credentials
      - profile_picture_url
      description: The care-team member who attached the document, named so it can
        be shown to the patient without a second lookup.
      properties:
        id:
          type: string
          pattern: "^staff_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: staff_test_01HXNS1A2B3C4D5E6F7G8H9JKM
        first_name:
          type: string
          example: Jacob
        last_name:
          type: string
          example: Moore
        credentials:
          type:
          - string
          - 'null'
          description: Set when a clinician attached the document; `null` for the
            rest of the care team.
          example: MD
        profile_picture_url:
          type:
          - string
          - 'null'
          description: Profile picture, `null` when none is set.
          example: https://workoscdn.com/images/v1/abc123
    DocumentCreate:
      type: object
      required:
      - upload_id
      - category
      additionalProperties: false
      description: Redeem a previously-created Upload and attach the file to the patient
        in the URL.
      properties:
        upload_id:
          type: string
          pattern: "^upl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: ID of the Upload returned from `POST /v1/uploads`. Single-use.
          example: upl_test_01HXNP1A2B3C4D5E6F7G8H9JKM
        category:
          "$ref": "#/components/schemas/DocumentCategory"
        description:
          type:
          - string
          - 'null'
          maxLength: 500
          description: Optional human-readable note about the document. Send null
            or leave it out for none.
          example: Insurance card front, captured during onboarding.
    Document:
      type: object
      required:
      - id
      - patient_id
      - category
      - filename
      - content_type
      - byte_size
      - checksum
      - description
      - created_at
      - updated_at
      - object
      - download
      - uploaded_by
      properties:
        id:
          type: string
          description: Lithos document ID. Sandbox IDs include `_test_`.
          pattern: "^doc_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: doc_test_01HXDC1A2B3C4D5E6F7G8H9JKM
        patient_id:
          type: string
          description: ID of the patient this document is attached to.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        category:
          "$ref": "#/components/schemas/DocumentCategory"
        filename:
          type: string
          description: Original filename, snapshot from the Upload.
          example: insurance-card-front.jpg
        content_type:
          type: string
          example: image/jpeg
        byte_size:
          type: integer
          example: 184320
        checksum:
          type: string
          description: Base64-encoded MD5, snapshot from the Upload.
          example: n4bQgYhMfWWaL+qgxVrQFA==
        description:
          type:
          - string
          - 'null'
          description: Human-readable note supplied at creation. `null` if none.
          example: Insurance card front, captured during onboarding.
        created_at:
          type: string
          format: date-time
          example: '2026-04-30T18:00:30Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-30T18:00:30Z'
        object:
          type: string
          const: document
          description: Discriminator; always `document`.
        download:
          "$ref": "#/components/schemas/DocumentDownload"
        uploaded_by:
          oneOf:
          - "$ref": "#/components/schemas/DocumentUploader"
          - type: 'null'
          description: The care-team member who attached the document. `null` when
            no person did — a file your own integration uploaded arrives over M2M,
            which carries no staff identity.
    DocumentListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Document"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    InsuranceHolder:
      type: object
      required:
      - first_name
      - last_name
      - relationship
      description: The person whose name appears on the insurance card. When the patient
        is the policy holder, this matches the patient — but Lithos does not assume
        so; partners send the holder as printed on the card. `date_of_birth` is the
        holder's, not the patient's.
      properties:
        first_name:
          type: string
          example: Avery
        last_name:
          type: string
          example: Chen
        date_of_birth:
          type:
          - string
          - 'null'
          format: date
          description: The holder's date of birth as printed on the card. As `YYYY-MM-DD`.
            `null` when not provided.
          example: '1989-04-12'
        relationship:
          type: string
          description: The patient's relationship to the policy holder.
          enum:
          - self
          - spouse
          - parent
          - child
          - other
          example: self
    InsuranceCreate:
      type: object
      required:
      - patient_id
      - payer_name
      - member_id
      - holder
      additionalProperties: false
      description: Request body for creating an insurance record. Successful creation
        auto-deactivates the patient's previous `active` record.
      properties:
        patient_id:
          type: string
          description: Patient this insurance covers.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        payer_name:
          type: string
          description: Insurance payer (carrier) name as printed on the card.
          example: Aetna
        plan_name:
          type:
          - string
          - 'null'
          description: Plan or product name on the card (e.g. `PPO 80/20`). Send `null`
            if absent.
          example: Aetna Choice POS II
        member_id:
          type: string
          description: Member identifier as printed on the card. Format varies by
            payer (free-form).
          example: W123456789
        group_number:
          type:
          - string
          - 'null'
          description: Group number as printed on the card. Send `null` if absent.
          example: '00123456'
        holder:
          "$ref": "#/components/schemas/InsuranceHolder"
        effective_from:
          type:
          - string
          - 'null'
          format: date
          description: Coverage start date as printed on the card. As `YYYY-MM-DD`.
            Send `null` if absent.
          example: '2026-01-01'
        effective_until:
          type:
          - string
          - 'null'
          format: date
          description: Coverage end date as printed on the card. As `YYYY-MM-DD`.
            Send `null` if absent or open-ended.
          example:
        insurance_card_front_image_upload_id:
          type: string
          pattern: "^upl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: Optional. Upload ID returned from `POST /v1/uploads` whose
            bytes become the insurance card's front image on this record. Single-use;
            validated against the declared checksum.
          example: upl_test_01HXNP1A2B3C4D5E6F7G8H9JKM
        insurance_card_back_image_upload_id:
          type: string
          pattern: "^upl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          description: Optional. Upload ID for the insurance card's back image. Same
            single-use semantics as the front image.
          example: upl_test_01HXNP2B3C4D5E6F7G8H9JKMNP
    Insurance:
      type: object
      required:
      - id
      - patient_id
      - status
      - payer_name
      - plan_name
      - member_id
      - group_number
      - effective_from
      - effective_until
      - deactivated_at
      - created_at
      - updated_at
      - holder
      - insurance_card_front_image
      - insurance_card_back_image
      description: 'A patient''s medical insurance record. `status` is server-managed:
        every record is created `active`, and Lithos flips the previous active record
        to `inactive` (stamping `deactivated_at`) when a newer record is created for
        the same patient.'
      properties:
        id:
          type: string
          description: Lithos insurance identifier. Sandbox IDs include `_test_`.
          pattern: "^ins_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: ins_test_01HXNS1A2B3C4D5E6F7G8H9JKM
        patient_id:
          type: string
          description: Patient this insurance covers.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        status:
          type: string
          description: Lifecycle state. `active` is the patient's current coverage
            of record; `inactive` is a prior record replaced by a newer one. Server-managed
            — partners do not set or update this field.
          enum:
          - active
          - inactive
          example: active
        payer_name:
          type: string
          description: Insurance payer (carrier) name as printed on the card.
          example: Aetna
        plan_name:
          type:
          - string
          - 'null'
          description: Plan or product name on the card. `null` when not provided.
          example: Aetna Choice POS II
        member_id:
          type: string
          description: Member identifier as printed on the card.
          example: W123456789
        group_number:
          type:
          - string
          - 'null'
          description: Group number as printed on the card. `null` when not provided.
          example: '00123456'
        effective_from:
          type:
          - string
          - 'null'
          format: date
          description: Coverage start date as printed on the card. `null` when not
            provided.
          example: '2026-01-01'
        effective_until:
          type:
          - string
          - 'null'
          format: date
          description: Coverage end date as printed on the card. `null` when not provided
            or open-ended.
          example:
        deactivated_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When this record was superseded by a newer insurance record
            for the same patient. `null` while `status` is `active`.
          example:
        created_at:
          type: string
          format: date-time
          example: '2026-04-29T17:45:00Z'
        updated_at:
          type: string
          format: date-time
          example: '2026-04-29T17:45:00Z'
        holder:
          "$ref": "#/components/schemas/InsuranceHolder"
        insurance_card_front_image:
          oneOf:
          - "$ref": "#/components/schemas/DocumentDownload"
          - type: 'null'
          description: Fresh short-lived download envelope for the insurance card's
            front image. Re-minted on every `GET` — don't cache. `null` if no front
            image was supplied.
        insurance_card_back_image:
          oneOf:
          - "$ref": "#/components/schemas/DocumentDownload"
          - type: 'null'
          description: Fresh short-lived download envelope for the insurance card's
            back image. `null` if no back image was supplied.
    InsuranceListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/Insurance"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    PriorAuthorization:
      type: object
      required:
      - id
      - patient_id
      - insurance_id
      - status
      - reference_number
      - denied_reason
      - appeal_of_id
      - effective_from
      - effective_until
      - created_at
      - decided_at
      - conditions
      - patient_responsibility
      description: |-
        A payer pre-approval recorded against a patient's coverage. PAs are read-only — Lithos clinical operations submits the request out-of-band and records the outcome here. Appeals create new PA records that link back to the original via `appeal_of_id`.

        Approvals frequently carry conditions (e.g. diagnosis requirements) — these are surfaced in `conditions[]`. The patient's expected out-of-pocket cost at decision time is captured in `patient_responsibility` as a snapshot; for current real-time pricing at the pharmacy counter, use a separate benefit-check call (not yet exposed).

        Fields populated only at decision time (`reference_number`, `effective_from`, `effective_until`, `conditions`, `patient_responsibility`, `denied_reason`, `decided_at`) are `null` while `status` is `pending`.
      properties:
        id:
          type: string
          description: Lithos prior authorization identifier. Sandbox IDs include
            `_test_`.
          pattern: "^pa_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pa_test_01HXPA1A2B3C4D5E6F7G8H9JKM
        patient_id:
          type: string
          description: Patient this PA covers.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HX9N4K8RBGFYPQ7T2VDSCMWZ
        insurance_id:
          type: string
          description: Insurance record snapshot used for this PA submission. The
            PA stays bound to the coverage in effect at submission, even if the patient's
            active insurance changes later.
          pattern: "^ins_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: ins_test_01HXNS1A2B3C4D5E6F7G8H9JKM
        status:
          type: string
          description: PA lifecycle state. `pending` (Lithos ops is working the submission);
            `approved` (payer cleared the request; `reference_number` and `effective_until`
            populated); `denied` (terminal — payer declined; `denied_reason` populated);
            `expired` (terminal — `effective_until` has passed); `canceled` (terminal
            — withdrawn by ops, typically because the patient changed coverage).
          enum:
          - pending
          - approved
          - denied
          - expired
          - canceled
          example: approved
        reference_number:
          type:
          - string
          - 'null'
          description: Payer-issued authorization reference number. Format varies
            by payer (free-form). `null` until `status` is `approved`.
          example: AUTH-2026-04-30-X7K2
        denied_reason:
          type:
          - string
          - 'null'
          description: Human-readable explanation of the denial, suitable for display
            to a clinical-ops user. `null` unless `status` is `denied`.
          example: 'Step therapy required: documented trial of metformin within the
            last 12 months before semaglutide will be covered.'
        appeal_of_id:
          type:
          - string
          - 'null'
          description: When this PA is a re-submission of a previously denied PA,
            the ID of the original. `null` for first submissions. Forms a chain —
            read it iteratively to walk the full appeal history.
          pattern: "^pa_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example:
        effective_from:
          type:
          - string
          - 'null'
          format: date-time
          description: Start of the approval window. `null` until `status` is `approved`.
          example: '2026-04-30T00:00:00Z'
        effective_until:
          type:
          - string
          - 'null'
          format: date-time
          description: End of the approval window. After this timestamp the PA transitions
            to `expired` and a new PA must be obtained. `null` until `status` is `approved`.
          example: '2026-10-30T00:00:00Z'
        created_at:
          type: string
          format: date-time
          description: When the PA record was opened in Lithos.
          example: '2026-04-30T11:00:00Z'
        decided_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the PA reached a terminal state (`approved`, `denied`,
            `expired`, or `canceled`). `null` while `pending`.
          example: '2026-04-30T15:42:00Z'
        conditions:
          type:
          - array
          - 'null'
          description: Constraints the payer attached to the approval. An empty array
            (`[]`) means approved without conditions. `null` until `status` is `approved`
            or `expired` (expired PAs retain the conditions of their last approval
            for historical reference). For denials, `null`.
          items:
            type: object
            required:
            - type
            - description
            properties:
              type:
                type: string
                description: Constraint kind. Only `diagnosis_required` (patient must
                  have one of `meta.icd10_codes`) is supported today. Additional constraint
                  kinds will be added in non-breaking releases.
                enum:
                - diagnosis_required
                example: diagnosis_required
              description:
                type: string
                description: Human-readable explanation of the constraint, suitable
                  for display to a clinical-ops user. Always present.
                example: Approved for Type 2 Diabetes Mellitus (ICD-10 E11.x).
              meta:
                type:
                - object
                - 'null'
                description: Structured data for clients that switch on constraint
                  specifics. For `diagnosis_required`, carries `icd10_codes` (string
                  array). `null` when no structured data applies.
                additionalProperties: true
        patient_responsibility:
          type:
          - object
          - 'null'
          description: What the patient is expected to pay out-of-pocket per fill,
            as quoted by the payer at PA decision time. A snapshot — formulary changes
            after approval may shift the actual amount charged at the pharmacy counter.
            `null` when `status` is not `approved` or `expired`, or when the payer
            didn't return a price with the determination.
          required:
          - amount
          - currency
          - type
          - quoted_at
          properties:
            amount:
              type: integer
              minimum: 0
              description: Out-of-pocket amount per fill, in the minor unit of `currency`
                (cents for USD).
              example: 2500
            currency:
              type: string
              description: ISO 4217 currency code, uppercase.
              pattern: "^[A-Z]{3}$"
              example: USD
            type:
              type: string
              description: How the amount is calculated. Only `copay` (flat per-fill
                amount) is supported today. Other cost-share shapes (coinsurance,
                deductible, mixed) will be added in non-breaking releases as the vocabulary
                stabilizes.
              enum:
              - copay
              example: copay
            quoted_at:
              type: string
              format: date-time
              description: When the payer quoted this amount. Typically the same as
                `decided_at`.
              example: '2026-04-30T15:42:00Z'
    PriorAuthorizationListResponse:
      type: object
      required:
      - data
      - pagination
      properties:
        data:
          type: array
          items:
            "$ref": "#/components/schemas/PriorAuthorization"
        pagination:
          "$ref": "#/components/schemas/Pagination"
    LabRequisitionDownload:
      type: object
      required:
      - url
      - method
      - expires_at
      description: A short-lived link to the PDF. Don't store it; read the requisition
        again when you need a new one.
      properties:
        url:
          type: string
          format: uri
          description: Link to the PDF. Open it with a plain `GET`; no access token
            is needed. Works until `expires_at`.
          example: https://files.lithoshealth.com/lab-requisitions/01HXEVD489ABCDEFGHJKMNPQRS.pdf?signature=...
        method:
          type: string
          const: GET
          description: Always `GET`.
        expires_at:
          type: string
          format: date-time
          description: When `url` stops working.
          example: '2026-07-16T14:20:00Z'
    LabRequisition:
      type: object
      required:
      - id
      - patient_id
      - care_plan_id
      - encounter_id
      - panel
      - preset
      - ordered_items
      - diagnosis_codes
      - status
      - pdf_status
      - valid_through
      - created_at
      - updated_at
      - approved_at
      - canceled_at
      - expired_at
      - clinician
      - download
      description: |-
        A signed order for bloodwork. A clinician creates and signs it while completing an encounter, and Lithos then issues a PDF for the patient to take to the lab.

        Requisitions are read-only; `lab_requisition.issued` tells you when the PDF is ready.
      properties:
        id:
          type: string
          description: Lithos lab requisition identifier. Sandbox IDs include `_test_`.
          pattern: "^lbr_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: lbr_test_01HXEVD489ABCDEFGHJKMNPQRS
        patient_id:
          type: string
          description: The patient the bloodwork is for. Always the care plan's patient.
          pattern: "^pat_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: pat_test_01HXPT1A2B3C4D5E6F7G8H9JKM
        care_plan_id:
          type: string
          description: The care plan this requisition belongs to.
          pattern: "^cpl_(test_)?[0-9A-HJKMNP-TV-Z]{26}$"
          example: cpl_test_01HXCP1A2B3C4D5E6F7G8H9JKM
        encounter_id:
          type:
[...]
